# =====================================================================
# roles/init/templates/yum_repos.d/epel.repo.j2
# =====================================================================

[epel]
name=Extra Packages for Enterprise Linux $releasever - $basearch
baseurl={{ init_mirror_url_epel }}/$releasever/Everything/$basearch/
enabled=1
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-EPEL-{{ os_version_major }}
