# =====================================================================
# roles/init/templates/alpine_repositories.j2
# =====================================================================

{{ init_mirror_url_alpine }}/alpine/v{{ os_version_major }}.{{ os_version_minor }}/main
{{ init_mirror_url_alpine }}/alpine/v{{ os_version_major }}.{{ os_version_minor }}/community
@edge {{ init_mirror_url_alpine }}/alpine/edge/main
@edgecommunity {{ init_mirror_url_alpine }}/alpine/edge/community
