# =====================================================================
# roles/init/templates/apt_sources.list.j2
# =====================================================================

{% if os_distribution == 'debian' %}
deb {{ init_mirror_url_debian }} {{ os_codename }} main contrib non-free non-free-firmware
deb {{ init_mirror_url_debian }} {{ os_codename }}-updates main contrib non-free non-free-firmware
deb {{ init_mirror_url_debian }} {{ os_codename }}-backports main contrib non-free non-free-firmware
deb {{ init_mirror_url_debian_security }} {{ os_codename }}-security main contrib non-free non-free-firmware
{% elif os_distribution == 'ubuntu' %}
deb {{ init_mirror_url_ubuntu }} {{ os_codename }} main restricted universe multiverse
deb {{ init_mirror_url_ubuntu }} {{ os_codename }}-updates main restricted universe multiverse
deb {{ init_mirror_url_ubuntu }} {{ os_codename }}-backports main restricted universe multiverse
deb {{ init_mirror_url_ubuntu }} {{ os_codename }}-security main restricted universe multiverse
{% endif %}
